.transazione {
  border: 1px solid grey;
  border-radius: 2px;
  width: 400px;
  margin: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: sans-serif;
}

.verde {
  background-color: green;
}

.grigio {
  background-color: grey;
}

.giallo {
  background-color: yellow;
}
